<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>PzArch</title>
        <link rel="icon" href="/images/SpiffoLogo.png" />

        <link rel="stylesheet" href="/css/main.css" />

        <script src="/scripts/winbox.bundle.js"></script>
        <script src="/scripts/widget.js"></script>

    </head>
<body onload="treta()">
    <a id="teste">ads</a>
    <div id="texto">
        <button>
            asdsdfdsf
        </button>
        <button>dsadas</button>
    </div>
    
</body>
</html>